Issues with the DN representation

The new `Gmap`-based `Distinguished_name` conflates DNs which should be treated as different, since it does not represent the ordering of RDNs.  This can introduce security issues for applications relying on DN comparison for authorization.  Also, DNs containing repeated attribute types cannot be represented.  This is particularly an issue with `DC`, but I have seen other attribute types like `O` being repeated, as well.

[RFC-5280][] section 4.1.2.4 specifies the issuer DN as a sequence of RDNs where each RDN is a set of pairs of attribute type and value.  So, the order of RDNs matter and an attribute type can be repeated both along a DN and also within an RDN set.

I could find the following DN representations in other OCaml packages:

  - The [Ldap_types][] module from ldap defines a DN as a list of RDNs where an RDN is a single attribute type with multiple values. Not quite correct, but I haven't seen any counter-case.
  - The [Netdn][] module from ocamlnet defines as a DN as a list of lists of pairs of attribute type and value, and makes a further restriction to only support DirectoryString values.
  - The asn1-combinators library has [an example](https://github.com/mirleft/ocaml-asn1-combinators/blob/master/tests/x509.ml) which uses essentially the same representation as ocamlnet, but makes a note that the attribute value "is ANY according to rfc5280."

Section 4.1.2.4 in the RFC says that "the type of the component AttributeValue is determined by the AttributeType; in general it will be a DirectoryString," so I think the Netdn restriction may be reasonable for X.509 usage.  If we accept that, we can skip the polymorphism for the attribute values in the new representation.

I can help out with the implementation, but let's agree on the representation first.

[RFC-5280]: https://www.ietf.org/rfc/rfc5280.txt
[Ldap_types]: https://github.com/kit-ty-kate/ocamldap/blob/master/src/ldap/ldap_types.mli
[Netdn]: https://gitlab.camlcity.org/gerd/lib-ocamlnet3/blob/master/code/src/netstring/netdn.ml

Thanks for your report. I've been thinking about this exact issue quite a bit before settling with the current representation (I implemented a sequence [on this branch](https://github.com/hannesm/ocaml-x509/tree/distinguished-vs-rdnseq)). FWIW, [x509 0.6.3](https://github.com/mirleft/ocaml-x509/blob/0.6.3/lib/x509.mli#L136) (i.e. the old API) defined the subject (and issuer) as component list -- i.e. representing a DN as list of pairs (which is pretty similar - in terms of flattening the RDNSequence - to what we have now - a Map of AttributeType to their value). (Indeed, since [x509 0.1.0](https://github.com/mirleft/ocaml-x509/blob/0.1.0/lib/asn_grammars.ml#L89) this is the representation used in this library.)

I read somewhere (but am not able to find it again, I suspect it was somewhere in RFC 5280) that only the last attribute of an RDNSequence should be considered (i.e. if it's `[[O=foo;CN=foo.bar.com]; [O=bar]]`, only `CN=foo.bar.com` and `O=bar` should be considered). I've myself not encountered many certificates with multiple RDN, and read up on various mozilla issues: https://bugzilla.mozilla.org/show_bug.cgi?id=197964 https://bugzilla.mozilla.org/show_bug.cgi?id=305890 (and found a real example [here](http://www.ca.posta.rs/ca-sertifikati/PostaCARoot.pem)).

Now, to improve the current state, as you mention, we should agree on the representation. I suggest to use a `list` of `components` (each of which being a Map from AttributeType to AttributeValue). Since each AttributeValue is a `string`, we can use a normal Map -- no need for a GADT-map. What do you think?

The advantage is that it is then as defined in RFC 5280. The disadvantage is that comparison etc. needs to be implemented as well, and it is slightly cumbersome for users of the API (plus another breaking change, but that's fine).

(to be more precise, my proposed change is https://github.com/hannesm/ocaml-x509/tree/rdnseq // https://github.com/hannesm/ocaml-x509/commit/54f86a3f8174d150f638c334bb5b1f5f7b98d25a -- pls let me know if this would satisfy your use case(s)!)

Are you sure the non-duplicate attribute type rule was about any attribute type, or could it be only the CN (when used for host name)?  If it applies generally, then the DN attribute type would become useless, since it would only allow representing a top-level domain.

(Just a bit more background: I am working for the [WLCG](http://wlcg.web.cern.ch/) which which extensively uses X.509 infrastructure for authenticating to compute and storage resources.  The many CAs are coordinated by [IGTF](https://www.igtf.net/).  As far as I understand, they have a strict policy about CAs only issuing certificates under a decided prefix, and you will also see repeated attribute types.  E.g. I get my WLCG certificate from the [Géant TCS service](https://www.geant.org/Services/Trust_identity_and_security/Pages/TCS.aspx) which also issues host certificates accepted by web browsers.  At least the "grid" brand may be duplicate attribute types including my own cert and the host certs on our servers.)

Taking a look at your proposal.

Your proposal would work for all cases I have seen, but to comply with the RFC, we need to allow RDNs containing multiple values for the same attribute, as well.  Something like
```ocaml
module Attribute_type = struct
  type 'a t = Asn.oid * 'a Asn.t
end

module Attribute = struct
  type t = Asn.oid * string
  let compare (at1, av1) (at2, av2) =
    let c = Asn.OID.compare at1 at2 in
    if c <> 0 then c else String.compare av1 av2
end

module Rdn = Set.Make (Attribute)

module Dn = struct
  type t = Rdn.t list
end
```

I don't mind using a variant for the most used attribute types, though, I just had the above sketched out before opening the PR.  An alternative though, would be to use the OID for the representation, and provide a function to convert it to and from a variant.  I think that could be made convenient enough for applications.

> Are you sure the non-duplicate attribute type rule was about any attribute type, or could it be only the CN (when used for host name)?

It may be just for the `CN` -- which is as well what I implemented in my change proposal (i.e. `X509.Certificate.hostnames` picks the last `CN` of the RDNSequence in the subject field.

> Your proposal would work for all cases I have seen, but to comply with the RFC, we need to allow RDNs containing multiple values for the same attribute, as well.

true, but is it really worth it? I find it much harder to cope with that data structure than using a `string DN.t list` (certainly I misnamed some types in my first commit, fixed now on that branch)

First, I think `DN` must be renamed `RDN`.  But if we don't want data structure we would also skip the `Map`, right?  We could then either restrict it to a list of pairs or allow the full specs using a list of list of pairs and a suitable (but slightly inefficient) comparison function.

Actually, for constructing DN we can have both full specs with efficient comparison and convenience by specialising the predefined attribute constructors to create singleton RDNs:
```ocaml
module Rdn = struct
  include Set.Make (Attribute)
  val cn : string -> t
  val serialnumber : string -> t
  ...
end
```
(For matching we might also consider translating singletons to a common attribute types variant and more complex RDNs to `` `Other``, but not sure precisely how the interface should look like.)

Another thing to decide is which direction we prefer to write the DN list.  For X.509 there are two different notations using different directions,
```
/C=US/O=ACME/CN=John Doe
CN=John Doe, O=ACME, C=US
```
Though I prefer the former notation, I think it may be better to use least-significant-first order for OCaml lists, since it make construction of sub-DNs cheap.

> First, I think `DN` must be renamed `RDN`.

yes, done in https://github.com/hannesm/ocaml-x509/commit/98f3817d5044f6f0064f78da9e776beeea837242

> if we don't want data structure we would also skip the `Map`, right?

I actually like data structures :) I agree your proposal is closer to the RFC. My usage for constructing RDN / DN is rather boring -- mostly in [certify](https://github.com/yomimono/ocaml-certify) of the form:
```OCaml
X509.Distinguished_name.(add CN cn (singleton O org))
```
i.e. a one-element list with one or two attribute type and value.

I suspect your use case is a bit more elaborate, I'd like to understand in more detail what you need in order to figure out what convenience functions we should provide.

The switch from a `list` to a `Map.S` originated by X509 Extensions -- which used to be a list (failing to ensure uniqueness of extension types; and lookup in `O(n)` -- where a Map provides `O(log n)`). Now, when you opened this issue I re-read the DistinguishedName specification and implementation, and seems to be not worth it.

So, I adapted your proposal in https://github.com/hannesm/ocaml-x509/commit/38bdeba37bd9ea05cdcfb65931c7f8a60af797d6 (using a `type attribute = ...` and `type t = (Set.t with type elt = attribute) list`. Does this suite you? (yes, we can add convenience functions in there -- we can as well get rid of the constructors / variant and use a `Asn.oid * string` instead of the variant, but that complicates printing).

Printing: I usually stick to what OpenSSL does, which I thought used `,` to separate the elements of the RDNSequence, and `/` to separate the attributes. But it seems I'm misguided looking at the current output -- in the output, is it ok for the individual RDNSequence elements to not be observable (i.e. using `,` as separator for both RDNSequence and attributes)?

The current list of set implementation definitely works for me, as I think it allows the full spec DNs (within the DictionaryString restriction).

About the notation, `,` or `/` are both used for separating DN components, while `+` is used for separating RDN elements.  I think the most common nowadays is to use `,` with least-significant-first (though I am more accustomed to `/`).


I don't think we need much convenience for constructing specific DNs, since most applications should read those from certificates, configuration files, etc. instead of hard-coding them.

> About the notation, , or ; (reversed) or / (forward with '/' prefix, maybe older RFC) are all alternative separators for DN components, while + is used for separating RDN elements. I think the most common nowadays is to use , with least-significant-first (though I am more accustomed to /).

ok, since this library used `/`, I'm fine keeping this as separator. `+` is a fine separator for RDNs. Does https://github.com/hannesm/ocaml-x509/commit/7ff788e85268a3367d035fb58255991f75473c52 suit you well?

Thanks again for your information and suggestions, if my branch suits you, I'll merge it soon.

The interface looks perfect, but I'm wondering, did you drop the "/" prefix in the `pp` function?  If so, I suggest adding that back.

I would also suggest adding a note about ordering in the documentation, e.g.
```ocaml
  (** A distinguished name is a list of relative distinguished names, starting with the most significant component. *)
  type t = Relative_distinguished_name.t list
```

I am digging around a bit about the string formatting.  The comma/semicolon notation is defined in [RFC-1779][], but it makes a not about the other notation in section 1:

> Other syntaxes may be more appropriate for other uses of the directory.
> For example, the OSF Syntax may be more appropriate for some system
> oriented uses.  (The OSF Syntax uses "/" as a separator, and forms
> names in a manner intended to resemble UNIX filenames).

I think OSF refers to the Open Software Foundation, but cannot their definition.  There are also requirements for escaping certain characters, so I think further improvements to the `pp` can be seen as separate issue.

So, I'm happy with the current proposal.  Thanks!

[RFC-1779]: https://tools.ietf.org/html/rfc1779

PRed as #118

Thanks for the pointer to 1779. I think it makes sense to support that standard. Do you think it is worth to expose the choice of the separator `val pp : ?sep:[ `Comma | `Semicolon | `Slash ] -> unit -> t Fmt.t`?

Note that choosing the separator is not enough, since the order is different, and since in the case of a slash, it is also prefixed to the DN.  Your signature allows that of course, but maybe it would be more natural to call the argument something else?  Not sure what's the best option here, but an alternative could be ``?format: [ `Comma | `Semicolon | `OSF]`` or ``[`RFC | `RFC_semi | `OSF]``?

Ups, [RFC-1779][] has been replaced by [RFC-2253][] and then [RFC-4514][].  But shouldn't matter before going into details about escaping.

[RFC-1779]: https://tools.ietf.org/html/rfc1779
[RFC-2253]: https://tools.ietf.org/html/rfc2253
[RFC-4514]: https://tools.ietf.org/html/rfc4514

@paurkedal thanks, if you've some time, an rfc 4514 compatible module would be appreciated as PR :)

also, your [inhca](https://github.com/paurkedal/inhca) looks very interesting, I'm curious about its featureset, does it support CRLs (reading, signing), and uploading signing requests (to be signed after an administrator approved)? any particular reason for not distributing it via opam (and under a [permissive license](https://en.wikipedia.org/wiki/Permissive_software_license))?

I would like to send a PR to implement RFC 4514 compatible `pp` and maybe `to_string` and `of_string`, as well.  I would find that useful.

Inhca is something I use to deliver certificates for local services to people who don't have access to IGFT or other official CAs.  It could be useful enough to publish more widely, but I think some things should be looked into first:  Most importantly it should support using a better protected CA, as running public web services on the same host as the CA is a bad idea.  There is a protocol for remotely requesting certificates from a CA, and there are also cheap HSMs available nowadays, e.g. from Nitrokey.  Second, there the browser should generate the private key.  This was originally the case, but it relied on the `<keygen/>` element which was obsoleted by browsers with no replacement.  There may be a way using webcrypto, but last time I checked, it was insufficient.  Otherwise, the UI could use some redesign to make it more usable to the uninitiated.  So, yes it's a useful piece of software for what it provides, but it needs work.  I thing it would also be cool to replace the openssl parts with pure OCaml, maybe using irmin for storage, and making it run under MirageOS, but that would be more or less a rewrite.

About the license, I prefer that modifications to the project are contributed back to the project, or at least made available for merging, but I can be convinced to change the license to a permissive one, at least for this project.

> #118

I added a test case and will merge once CI finished

> CA as MirageOS unikernel

yes, now we're talking! :) That's what I'd like to have in the end as well. For me, UI/WebUI are easier to extend than to start from scratch (i.e. porting it to MirageOS feels to me rather easy than to re-develop it from scratch).

> code contributed back

I understand, though personally I'm more motivated to contrbute back under a permissive license than a more restrictive license (but of course other people may have different opinions) ;)